# Requires a local Liquibase installation with the PostgreSQL JDBC driver available.
changeLogFile=changelog-master.yaml
url=jdbc:postgresql://localhost:5433/hotel_system
username=hotel_system_user
password=hotel_system_password
driver=org.postgresql.Driver
